@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes rotateInfinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-rotateInfinite {
  animation: rotateInfinite 20s linear infinite;
}

button,
a {
  cursor: pointer !important;
}

.laser-dash {
  stroke-dasharray: 6 6;
  animation: dashDown 1.5s linear infinite;
}

@keyframes dashDown {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 50; /* POSITIVE to move downward */
  }
}

.shine {
  border-top: 0.5px solid rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(to bottom, #ffffff08, #fff0);
}

.shine-large {
  border-top: 0.5px solid rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(to bottom, #ffffff1a, #fff0);
}

.card-blue {
  background: radial-gradient(
      98.87% 96.91% at 29.97% 4.26%,
      rgba(74, 138, 212, 0.22) 0,
      transparent
    ),
    radial-gradient(
      35.14% 26.06% at 64.29% 100%,
      rgba(110, 133, 255, 0.32) 0,
      transparent
    ),
    radial-gradient(
      51.01% 53.47% at 61.76% 100%,
      rgba(110, 133, 255, 0.18) 0,
      transparent
    ),
    radial-gradient(
      107.88% 104.33% at 27.87% -2.93%,
      rgba(102, 178, 255, 0.12) 0,
      transparent
    ),
    radial-gradient(
      99.15% 110.12% at 42.58% 73.67%,
      rgba(102, 178, 255, 0.18) 0,
      transparent
    ),
    radial-gradient(
      99.22% 104.49% at 39.64% 113.83%,
      rgba(102, 178, 255, 0.24) 0,
      transparent
    ),
    radial-gradient(
      91.25% 85.99% at 86.69% 100%,
      rgba(102, 145, 255, 0.18) 0,
      transparent
    ),
    radial-gradient(
      57.97% 64.37% at 56.16% 106.38%,
      rgba(102, 154, 255, 0.18) 0,
      transparent
    ),
    linear-gradient(202deg, #ffffffdd 0%, #f1f4ff 75%);
}

.card-violet {
  background: radial-gradient(
      79.43% 95.88% at 38.94% -53.46%,
      rgba(135, 130, 255, 0.38) 0,
      transparent
    ),
    radial-gradient(
      27.99% 22.08% at 72.13% 103.46%,
      rgba(255, 147, 223, 0.33) 0,
      transparent
    ),
    radial-gradient(
      55.3% 82.54% at 74.23% 127.39%,
      rgba(255, 147, 223, 0.17) 0,
      transparent
    ),
    radial-gradient(
      126.68% 102.3% at 42.58% 7.18%,
      rgba(255, 130, 214, 0.1) 0,
      transparent
    ),
    radial-gradient(
      101.47% 101.1% at 49.86% 50%,
      rgba(225, 130, 255, 0.15) 0,
      transparent
    ),
    radial-gradient(
      89.8% 76.48% at 47.9% 125.27%,
      rgba(225, 130, 255, 0.18) 0,
      transparent
    ),
    radial-gradient(
      206.61% 91.26% at 119.19% 106.12%,
      rgba(235, 130, 255, 0.18) 0,
      transparent
    ),
    radial-gradient(
      91.67% 85.14% at 75.49% 116.76%,
      rgba(207, 130, 255, 0.18) 0,
      transparent
    ),
    linear-gradient(202deg, #ffffffdd 0%, #fdf1ff 75%);
}

.card-green {
  background: radial-gradient(
      175.09% 93.57% at 28.43% 4.52%,
      rgba(95, 168, 255, 0.18) 0,
      transparent
    ),
    radial-gradient(
      35% 30% at 69.47% 100%,
      rgba(132, 255, 204, 0.32) 0,
      transparent
    ),
    radial-gradient(
      61% 47.42% at 69.33% 100%,
      rgba(132, 255, 204, 0.17) 0,
      transparent
    ),
    radial-gradient(
      113.94% 107.47% at 53.92% 58.51%,
      rgba(102, 215, 255, 0.1) 0,
      transparent
    ),
    radial-gradient(
      132.59% 131.23% at 55.74% 107.98%,
      rgba(130, 255, 215, 0.18) 0,
      transparent
    ),
    radial-gradient(
      111.92% 107.8% at 48.46% 119.95%,
      rgba(130, 255, 215, 0.18) 0,
      transparent
    ),
    radial-gradient(
      150.56% 109.94% at 91.74% 109.57%,
      rgba(135, 255, 191, 0.18) 0,
      transparent
    ),
    radial-gradient(
      104.26% 104.26% at 62.32% 107.98%,
      rgba(130, 255, 237, 0.18) 0,
      transparent
    ),
    linear-gradient(202deg, #ffffffdd 0%, #f2fff4 75%);
}

.dark .card-blue {
  background: radial-gradient(
      98.87% 96.91% at 29.97% 4.26%,
      rgba(74, 138, 212, 0.09) 0,
      transparent
    ),
    radial-gradient(
      35.14% 26.06% at 64.29% 100%,
      rgba(110, 133, 255, 0.5) 0,
      transparent
    ),
    radial-gradient(
      51.01% 53.47% at 61.76% 100%,
      rgba(110, 133, 255, 0.28) 0,
      transparent
    ),
    radial-gradient(
      107.88% 104.33% at 27.87% -2.93%,
      rgba(102, 178, 255, 0.05) 0,
      transparent
    ),
    radial-gradient(
      99.15% 110.12% at 42.58% 73.67%,
      rgba(102, 126, 255, 0.1) 0,
      transparent
    ),
    radial-gradient(
      99.22% 104.49% at 39.64% 113.83%,
      rgba(102, 126, 255, 0.14) 0,
      transparent
    ),
    radial-gradient(
      91.25% 85.99% at 86.69% 100%,
      rgba(102, 154, 255, 0.14) 0,
      transparent
    ),
    radial-gradient(
      57.97% 64.37% at 56.16% 106.38%,
      rgba(102, 145, 255, 0.14) 0,
      transparent
    ),
    linear-gradient(202deg, #16171D11.03%, #0D0E1185.41%);
}
.dark .card-violet {
  background: radial-gradient(
      79.43% 95.88% at 38.94% -53.46%,
      rgba(98, 95, 255, 0.38) 0,
      transparent
    ),
    radial-gradient(
      27.99% 22.08% at 72.13% 103.46%,
      rgba(255, 125, 218, 0.33) 0,
      transparent
    ),
    radial-gradient(
      55.3% 82.54% at 74.23% 127.39%,
      rgb(255, 125, 218, 0.15) 0,
      transparent
    ),
    radial-gradient(
      126.68% 102.3% at 42.58% 7.18%,
      rgba(255, 102, 194, 0.04) 0,
      transparent
    ),
    radial-gradient(
      101.47% 101.1% at 49.86% 50%,
      rgba(206, 102, 255, 0.12) 0,
      transparent
    ),
    radial-gradient(
      89.8% 76.48% at 47.9% 125.27%,
      rgba(197, 102, 255, 0.15) 0,
      transparent
    ),
    radial-gradient(
      206.61% 91.26% at 119.19% 106.12%,
      rgba(224, 102, 255, 0.15) 0,
      transparent
    ),
    radial-gradient(
      91.67% 85.14% at 75.49% 116.76%,
      rgba(178, 102, 255, 0.15) 0,
      transparent
    ),
    linear-gradient(202deg, #16171D11.03%, #0D0E1185.41%);
}

.dark .card-green {
  background: radial-gradient(
      175.09% 93.57% at 28.43% 4.52%,
      rgba(95, 168, 255, 0.1) 0,
      transparent
    ),
    radial-gradient(
      35% 30% at 69.47% 100%,
      rgba(109, 255, 237, 0.3) 0,
      transparent
    ),
    radial-gradient(
      61% 47.42% at 69.33% 100%,
      rgba(109, 255, 220, 0.15) 0,
      transparent
    ),
    radial-gradient(
      113.94% 107.47% at 53.92% 58.51%,
      rgba(102, 178, 255, 0.05) 0,
      transparent
    ),
    radial-gradient(
      132.59% 131.23% at 55.74% 107.98%,
      rgba(102, 178, 255, 0.1) 0,
      transparent
    ),
    radial-gradient(
      111.92% 107.8% at 48.46% 119.95%,
      rgba(102, 178, 255, 0.1) 0,
      transparent
    ),
    radial-gradient(
      150.56% 109.94% at 91.74% 109.57%,
      rgba(102, 255, 191, 0.1) 0,
      transparent
    ),
    radial-gradient(
      104.26% 104.26% at 62.32% 107.98%,
      rgba(102, 255, 237, 0.1) 0,
      transparent
    ),
    linear-gradient(202deg, #16171D11.03%, #0D0E1185.41%);
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee-left {
  animation: marquee-left linear infinite;
}

.animate-marquee-right {
  animation: marquee-right linear infinite;
}

.marquee-pause:hover {
  animation-play-state: paused;
}

@keyframes trace {
  to {
    stroke-dashoffset: -380; /* Full perimeter loop */
  }
}
